# build output
dist/
.astro/

# dependencies
node_modules/

# generated
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.next/

# env
.env
.env.production

# macOS
.DS_Store

# logs
npm-debug.log*
